
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.intro {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/banner.jpg) no-repeat center center;
    background-size: cover;
}

.intro-text {
	position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    text-shadow: 0 0 3px #333333, 0 0 5px #333333;
}

.about {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.about-text {
    padding:20px 20px 0px 20px;
}

.projects {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner-social-buttons {
    float: right;
    margin-top: 0px;
    padding:10px 10px 10px 10px;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.project {
    padding:40px 40px 40px 40px;
    border-bottom: 1px solid #e7e7e7;
}

.contact {
    text-shadow: 0 0 3px #333333, 0 0 5px #333333;
}