
.intro {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
}

.counter {
	position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

#minutes {
	display: inline-block;
	font-family: Lato, sans-serif;
	font-size:5em;
	color:#333;
}

#seconds {
	display: inline-block;
	font-family: Lato, sans-serif;
	font-size:5em;
	color:#333;
}

.title {
	font-family: Lato, sans-serif;
	font-size:5em;
	color:#333;
}